{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products list{% endif %}
{% endblock title %}

{% block content %}
  <div id="sidebar" class="col-sm-3">
    <h3>Categories</h3>
{#  <form>#}
{#      <select name="brand">#}
{##}
{#          {% for b in brands %}#}
{#              {% if brand.id == b.id %}#}
{#                <option value="{{ b.id }}">{{ b.brand }}</option>#}
{#              {% endif %}#}
{#          {% endfor %}#}
{#      </select>#}
{#  </form>#}
{#    <ul>#}
{#      <li {% if not brand_id %} class="selected" {% endif %}>#}
{#          <a href="{% url "shop:products-list" %}">All</a>#}
{#      </li>#}
{#      {% for b in brands %}#}
{#          <li {% if brand_id == b.id %} class="selected" {% endif %}>#}
{#            <a href="?brand={{ b.id }}">{{ b.brand }}</a>#}
{#          </li>#}
{#      {% endfor %}#}
{#    </ul>#}
    <form method="get">
        {% for b in brands %}
            <input type="checkbox" value="{{ b.brand }}">{{ b.brand }}
        {% endfor %}
    </form>
{#    <ul>#}
{#      <li {% if not category %} class="selected" {% endif %}>#}
{##}
{#      </li>#}
{#      {% for cat in categories %}#}
{#        <li {% if category.slug == cat.slug %} class="selected" {% endif %}>#}
{#          <a href="#">{{ cat.name }}</a>#}
{#        </li>#}
{#      {% endfor %}#}
{#    </ul>#}
  </div>
  <div id="main" class="product_list col-sm-9">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div class="items row">
      {% for product in products %}
        <div class="item col-sm-4">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ MEDIA_URL }}{{ product.image}}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">
          </a>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
          {{ product.price }} som.
        </div>
      {% endfor %}
    </div>
    </div>

{% endblock content %}
