{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock title %}
{% block content %}
    <div id="home-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 header-top-right">
                    <div class="homeslider">
                        <ul id="contenhomeslider">
                          <li><img alt="Funky roots" src="{% static 'data/option5/slider1.jpg' %}" title="Funky roots" /></li>
                          <li><img alt="Funky roots" src="{% static 'data/option5/slider2.jpg' %}" title="Funky roots" /></li>
                          <li><img  alt="Funky roots" src="{% static 'data/option5/slider3.jpg' %}" title="Funky roots" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Home slideder-->
    <div class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="page-heading">
                        <span class="page-heading-title">LATEST DEALS</span>
                    </h2>
                    <div class="latest-deals-product">
                        <span class="count-down-time2">
                            <span class="icon-clock"></span>
                            <span>end in</span>
                            <span class="countdown-lastest" data-y="2016" data-m="7" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                        </span>
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "10" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                            {% for product in products %}
                                <li>
                                    <div class="left-block">
                                        <a href="#"><img class="img-responsive" alt="product" src="{% if product.image %}{{ MEDIA_URL }}{{ product.image}}{% else %}{% static "img/no-image.jpg"%}{% endif %}"/></a>

                                        <div class="add-to-cart">
                                            <form action="{% url "cart:cart-add-json" product.id %}" method="post" class="cart-add-form" data-redirect="{% url 'cart:cart-detail' %}">
                                              {{ cart_product_form }}
                                              {% csrf_token %}
                                              <input type="submit" value="Add to cart">
                                            </form>
                                        </div>

                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">{{ product.name }}</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">${{ product.price }}</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Baner bottom -->
            <div class="row banner-bottom">
                <div class="col-sm-6 item-left">
                    <div class="banner-boder-zoom">
                        <a href="#"><img alt="ads" class="img-responsive" src="{% static 'data/option5/hom1.jpg' %}" /></a>
                    </div>
                </div>
                <div class="col-sm-6 item-right">
                    <div class="banner-boder-zoom">
                        <a href="#"><img alt="ads" class="img-responsive" src="{% static 'data/option5/hom1.jpg' %}" /></a>
                    </div>
                </div>
            </div>
            <!-- end banner bottom -->
        <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="page-heading">
                        <span class="page-heading-title">FEATURED PRODUCTS</span>
                    </h2>
                    <div class="latest-deals-product">
                        <span class="count-down-time2">
                            <span class="icon-clock"></span>
                            <span>end in</span>
                            <span class="countdown-lastest" data-y="2016" data-m="7" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                        </span>
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "10" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                            {% for product in featured %}
                                <li>
                                    <div class="left-block">
                                        <a href="#"><img class="img-responsive" alt="product" src="{% if product.image %}{{ MEDIA_URL }}{{ product.image}}{% else %}{% static "img/no-image.jpg"%}{% endif %}"/></a>

                                        <div class="add-to-cart">
                                            <form action="{% url "cart:cart-add-json" product.id %}" method="post" class="cart-add-form" data-redirect="{% url 'cart:cart-detail' %}">
                                              {{ cart_product_form }}
                                              {% csrf_token %}
                                              <input type="submit" value="Add to cart">
                                            </form>
                                        </div>

                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">{{ product.name }}</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">${{ product.price }}</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="page-heading">
                        <span class="page-heading-title">SALES</span>
                    </h2>
                    <div class="latest-deals-product">
{#                        <span class="count-down-time2">#}
{#                            <span class="icon-clock"></span>#}
{#                            <span>end in</span>#}
{#                            <span class="countdown-lastest" data-y="2016" data-m="7" data-d="1" data-h="00" data-i="00" data-s="00"></span>#}
{#                        </span>#}
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "10" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                            {% for product in sales %}
                                <li>
                                    <div class="left-block">
                                        <a href="#"><img class="img-responsive" alt="product" src="{% if product.image %}{{ MEDIA_URL }}{{ product.image}}{% else %}{% static "img/no-image.jpg"%}{% endif %}"/></a>

                                        <div class="add-to-cart">
                                            <form action="{% url "cart:cart-add-json" product.id %}" method="post" class="cart-add-form" data-redirect="{% url 'cart:cart-detail' %}">
                                              {{ cart_product_form }}
                                              {% csrf_token %}
                                              <input type="submit" value="Add to cart">
                                            </form>
                                        </div>

                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">{{ product.name }}</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">${{ product.price }}</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>



{% endblock content %}